[submodule "maigret"]
	path = maigret
	url = https://github.com/soxoj/maigret
[submodule "holehe"]
	path = holehe
	url = https://github.com/megadose/holehe
[submodule "social-analyzer"]
	path = social-analyzer
	url = https://github.com/qeeqbox/social-analyzer
