about-time==4.2.1
aiodns==3.2.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiohttp_socks==0.10.1
aiosignal==1.3.2
alive-progress==3.2.0
anyio==4.9.0
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
async-timeout==5.0.1
attrs==24.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
bs4==0.0.2
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudscraper==1.2.71
colorama==0.4.6
comtypes==1.4.1
cryptography==44.0.2
cssselect2==0.8.0
decorator==5.2.1
defusedxml==0.7.1
dispatch==2.0.6
Django==3.2.11
djangorestframework==3.12.2
docopt==0.6.2
executing==2.2.0
Flask==3.1.0
frozenlist==1.5.0
future==1.0.0
future-annotations==1.0.0
galeodes==0.7
grapheme==0.6.0
gTTS==2.5.1
gunicorn==23.0.0
h11==0.14.0
holehe==1.61
html5lib==1.1
httpcore==1.0.8
httpx==0.28.1
idna==3.7
instaloader==4.14.1
ipython==9.1.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jsonfield==3.1.0
jsonpickle==4.0.5
langdetect==1.0.9
lolcat==1.4
lxml==5.3.0
maigret @ file:///C:/Users/lanal/Documents/GitHub/sluether-tool.github.io/maigret
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
MechanicalSoup==1.3.0
mock==5.2.0
multidict==6.4.3
networkx==2.8.8
numpy==2.1.1
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==25.0
pandas==2.2.2
parso==0.8.4
phonenumbers==8.13.54
pillow==10.3.0
platformdirs==4.3.7
playsound==1.2.2
prompt_toolkit==3.0.51
propcache==0.3.1
pure_eval==0.2.3
pycares==4.6.0
pycountry==24.6.1
pycparser==2.22
pygame==2.5.2
Pygments==2.19.1
pyHanko==0.26.0
pyhanko-certvalidator==0.26.8
pyparsing==3.2.3
pypdf==5.4.0
PyPDF2==3.0.1
pypiwin32==223
PySocks==1.7.1
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-socks==2.7.1
pyttsx3==2.90
pytz==2024.1
pyvis==0.3.2
pywin32==306
PyYAML==6.0.2
qrcode==8.1
reportlab==4.4.0
requests==2.31.0
requests-futures==1.0.2
requests-toolbelt==1.0.0
selenium==4.31.0
setuptools==78.1.0
six==1.17.0
sniffio==1.3.1
social-analyzer==0.45
socid-extractor==0.0.27
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.0
stack-data==0.6.3
stem==1.8.2
svglib==1.5.1
termcolor==3.0.1
tinycss2==1.4.0
tld==0.13
tokenize_rt==6.1.0
torrequest==0.1.0
toutatis==1.31
tqdm==4.67.1
traitlets==5.14.3
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.13.2
tzdata==2024.1
tzlocal==5.3.1
uritools==4.0.3
urllib3==2.2.1
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.45.1
wsproto==1.2.0
xhtml2pdf==0.2.17
XMind==1.2.0
yarl==1.20.0
